<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.irs3.min.css">
</head>
<body>
    <form class="nav" action="station/red/1">
        <input type="submit" class="nav red" value="Red 1"/>
    </form>
    <form class="nav" action="station/red/2">
        <input type="submit" class="nav red" value="Red 2"/>
    </form>
    <form class="nav" action="station/red/3">
        <input type="submit" class="nav red" value="Red 3"/>
    </form>
    
    <br>

    <form class="nav" action="station/blue/1">
        <input type="submit" class="nav blue" value="Blue 1"/>
    </form>
    <form class="nav" action="station/blue/2">
        <input type="submit" class="nav blue" value="Blue 2"/>
    </form>
    <form class="nav" action="station/blue/3">
        <input type="submit" class="nav blue" value="Blue 3"/>
    </form>

    <br><br>

    <form class="nav" action="command" class="cmd">
        <input type="submit" class="nav cmd" value="Command"/>
    </form>
</body>
</html>
